<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.keepgo.whatdo.mapper.InboundMapper">

	<!-- it_mb_address_book table -->

	<select id="selectAll"  resultType="com.keepgo.whatdo.entity.customs.Inbound">
        SELECT * FROM web_inbound
        ORDER BY id DESC
    </select>

</mapper>