<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.keepgo.whatdo.mapper.NodeMapper">

    <!--
        it_mb_address_book table
     -->

    <select id="selectAll"  resultType="com.keepgo.whatdo.entity.NodeHistory">
        SELECT * FROM node_history
    </select>

</mapper>